<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title || 'Todo App' %></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/favicon.ico" type="image/png">
  <!-- Tailwind CSS CDN -->
<script src="https://cdn.tailwindcss.com"></script>

  <link rel="manifest" href="/site.webmanifest">
</head>
<body>
<h2>Register</h2>
<% if (error_msg) { %>
  <div class="text-red-500"><%= error_msg %></div>
<% } %>

<!-- <form action="/auth/register" method="POST" class="space-y-4">
  <input type="text" name="name" placeholder="Name" class="..." required />
  <input type="email" name="email" placeholder="Email" class="..." required />
  <input type="password" name="password" placeholder="Password" class="..." required />
  <button type="submit" class="...">Register</button>
</form> -->
<form action="/register" method="POST">
  <input type="text" name="username" placeholder="Enter your email" required>
  <input type="password" name="password" placeholder="Enter your password" required>
  <button type="submit">Register</button>
</form>


</body>
</html>